:root {
  --background: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1 0 auto;
  position: relative;
}

.dnd-body {
 background: linear-gradient(
  to bottom left,
  #0db3ea 30%,   /* темный цвет занимает 30% пространства */
  #A3C7D6 70%    /* плавный переход начинается с 70% */
);
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-maitree), sans-serif;
  color: #2b2003;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  translate: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}